.Bottom-Container {
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
}

.bottom-img {
  width: 9rem;
  border-radius: 6rem;

}

.bottom-icon {
  width: 3rem;
/*  margin-left: -2rem;
  margin-top: 1rem;*/
}

.Bottom-Footer {
  font-family: 'Dancing Script', serif;
  font-size: 2rem;
  text-align: center;
  background-color: #f6e5f5;
}

.footer-link:link, .footer-link:visited {
  color: #3282b8;
  text-decoration: none;
}

.footer-link:hover {
  color: cornflowerblue;
}

.copyright {
  color: #854836;
}

.footer{
  height: 12px;
   border: 0;
   box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.RPA-content{
  width: 80%;
  margin-left: 52px;
}
