.Middle-Container {
  font-family: sans-serif;
  font-size: 120%;
  margin-left: 4rem;
  margin-top: 1rem;
}

.TableStyle {
  text-align: left;
  padding: 0.2rem 3rem 0.2rem 0;

}
.TableHead{
  color: brown;

    padding-bottom: 10px;

}

.middle-header {
  color: #00918e;
}

.middle-img {
  width: 4rem;
  margin-left: -2rem;
  margin-top: 1rem;
}

.Middle-common-div {
  margin-left: 4rem;
  margin-top: -4rem;
}

.middle-link:visited, .middle-link:link {
  color: cornflowerblue;
  text-decoration: none;
}

.middle-link:hover {
  color: #fa697c;
}
